.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.go {
  padding: 15px 30px;
  font-size: 20px;
  border: solid 1px #666;
  border-radius: 10px;
}